<%- include("includes/head-with-opentok") %>

<h1 class="page-title"><span>[Presenter]</span> Webinar: <%= webinar.name %></h1>

<div id="webinar" data-opentok="<%= JSON.stringify(opentok) %>">

  <div class="controls box">
    <div id="webinar-controls">
      <h2>Broadcast controls</h2>
      <button id="start-btn" class="btn" disabled="disabled">Start broadcast</button>
      <button id="pause-btn" class="btn btn-light" disabled="disabled">Pause broadcast</button>
      <button id="end-btn" class="btn btn-red" disabled="disabled">End broadcast</button>
    </div>
    <div class="url-box">
      <h2>Share URLs</h2>
      <ul>
        <li>
          <a href="<%= webinar.urls.viewer %>" target="_blank">Viewer URL</a>
        </li>
        <li>
          <a href="<%= webinar.urls.presenter %>" target="_blank">Presenter URL</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="display">
    <div id="presenter-info">
      <div id="broadcast-status" class="offline">Offline</div>
      <div id="presenter-msg">Loading...</div>
    </div>
    <div id="session-info" class="box">
      <div id="viewports">
        <h2>Presenter view</h2>
        <div id="presenter-view" class="viewport inactive">
        </div>
      </div>
      <div>
        <h2>Statistics</h2>
        <div id="stats">
          <div id="viewers"><span>0</span> Viewer(s)</div>
          <div id="presenters"><span>0</span> Presenter(s)</div>
          <div id="duration">Duration: <span>--</span></div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("includes/foot") %>
